@font-face {
    font-family: "digital";
    src: url("custom-fonts/digital-7.regular.ttf");
}

@font-face {
    font-family: "orbitron";
    src: url("custom-fonts/Orbitron-Bold.ttf");
}

body {
    margin: 0;
    background: #0b090a;
}

.wrapper {
    display: flex;
    width: 400px;
    height: 250px;
    margin: 50px auto 0;
    justify-content: space-around;
    background: #161a1d;
    align-items: center;
}

.debug-border {
    border: 2px dotted blue;
}

.home-title,
.away-title {
    font-family: orbitron, sans-serif;
    color: #e5383b;
    background: #d3d3d3;
    padding: 10px 20px;
    border-radius: 10px;
    text-shadow: 0 0 1px black;
    margin-top: 0;
}

.btn,
#home-score,
#away-score {
    font-family: digital, sans-serif;
    font-weight: bold;
}

#home-score,
#away-score {
    color: #660708;
    font-size: 40px;
    background: #ffffff;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
}

.btn {
    background: #b1a7a6;
    color: #660708;
    font-size: 20px;
    padding: 6px 12px;
    border-radius: 5px;
}

.btn-container {
    text-align: center;
}
